body{
    font-family: 'Roboto', sans-serif;
}
header{
    height: 4.375rem;
}
main{
    height: calc(100vh - 4.375rem);
    width: 100%;
}
/* debug  */
.ms_debug-backcolor{
    background-color: red;
    border: 1px solid black;
}
.ms_debug-backcolor2{
    background-color: aqua;
    border: 1px solid black;
}
.ms_debug-backcolor3{
    background-color:green;
    border: 1px solid black;
}
.ms_debug-height{
    height: 100%;
}
/* typo */
.aside-backgroundcolor{
    background-color: #072035;
    background-image: url(../img/sidebar-bg.png);
}
/* common */
.ms_height{
    height: 100%;
}
.ms_width{
    width: 100%;
}
/* header  */
header img{
    height: 30px;
}
#search{
    position: relative;
    background-color: #e5e5e5;
    border-radius: .3125rem;
}
#search button{
    position: absolute;
    border-style: none;
}
#search input{
    width: 100%;
    padding-left: 1.875rem;
    border-style: none;
    background-color: #e5e5e5;
}
#button-r-h button{
    background-color: white;
    border-style: none;
    color: #5b5858;
    padding-left: .625rem;
}
#button-r-h .ms_gold-b{
    color: #ff8f00;
}
/* main  */
.ms_nav-aside{
    height: 100%;
}
.ms_button-nav{
    background-color: #072035;
    border-style: none;
}
.ms_button-nav:hover{
    background-color: #e5e5e5;
}
