body{
    font-family: 'Roboto', sans-serif;
    max-height: 100vh;
}
header{
    height: 4.375rem;
}
main{
    height: calc(100% - 4.375rem);
    width: 100%;
}
/* typo */
.aside-backgroundcolor{
    background-color: #072035;
    background-image: url(../img/sidebar-bg.png);
}
.main-top-bc{
    background-color: #1b72e8;
}
.badge_bc{
    background-color: #165bba;
}
.ms_fonts-size{
    font-size: .75rem;
}
/* common */
.ms_height{
    height: 100%;
}
.ms_width{
    width: 100%;
}
.ms_width-td{
    width: 50%;
}
/* header  */
header img{
    height: 30px;
}
#search{
    position: relative;
    background-color: #e5e5e5;
    border-radius: .3125rem;
}
#search button{
    position: absolute;
    border-style: none;
}
#search input{
    width: 100%;
    padding-left: 1.875rem;
    border-style: none;
    background-color: #e5e5e5;
}
#button-r-h button{
    background-color: white;
    border-style: none;
    color: #5b5858;
    padding-left: .625rem;
}
#button-r-h .ms_gold-b{
    color: #ff8f00;
}
/* main  */
/* aside  */
.ms_nav-aside{
    height: 100%;
}
.ms_button-nav{
    background-color: #072035;
    border-style: none;
}
.ms_button-nav:hover{
    background-color: #e5e5e5;
}
/* main-top  */
#main-top{
    color: white;
    font-size: .75rem;
}
#btn-canv{
    border: 1px solid white;
}
/* mani container  */
#central-container{
    height: calc(100%-4.375rem);
    overflow: hidden;
}
#next-class-table img{
    height: 1.875rem;
    width: 1.875rem;
    background-color: white;
}
#activ-user img{
    max-width: 100%;
    max-height: 100%;
}
.offcanvas{
    --bs-offcanvas-zindex: 1045;
    --bs-offcanvas-width: 100%;
    max-width: 800px;
    --bs-offcanvas-height: 30vh;
    --bs-offcanvas-padding-x: 1rem;
    --bs-offcanvas-padding-y: 1rem;
    --bs-offcanvas-color: var(--bs-body-color);
    --bs-offcanvas-bg: var(--bs-body-bg);
    --bs-offcanvas-border-width: var(--bs-border-width);
    --bs-offcanvas-border-color: var(--bs-border-color-translucent);
    --bs-offcanvas-box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075);
    --bs-offcanvas-transition: transform 0.3s ease-in-out;
    --bs-offcanvas-title-line-height: 1.5;
  }